<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Full booker API Test suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AARRSOL/IdeaProjects/ATB6xRestAssuredLearing">
        <classes>
            <class name="Testng1.Lab261">     </class>
            <class name="Testng1.Lab262">     </class>
        </classes>
    </test>
</suite>